.sidenav-container {
  height: 100%;
}

.sidenav {
  margin-top: 4.7em;
  width: 20em;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-stroked-button {
  width: 10em;
  margin-right: 1.25em;
  border-radius: 2.0em;
}

a.mat-list-item {
  &:hover {
    background: aquamarine;
  }
}
